.containerGeneral {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
}

.footerText {
  font-weight: 600;
}

.copyRight {
  font-size: 14px;
  padding: 15px;
}

@media (max-width: 1024px) {
  .containerGeneral {
    margin: 50px 20px 20px 20px;
  }

  .copyRight {
    padding: 20px;
  }
}
